<div>
  <h1>Products List</h1>

  <table matSort>
    <tr>
      <th mat-sort-header="name">name</th>
      <th mat-sort-header="calories">price</th>
      <th mat-sort-header="fat">image</th>
    </tr>

    <tr
      *ngFor="let products of arrayProducts"
      [routerLink]="['/home', products._id]"
    >
      <td>{{ products.name }}</td>
      <td>{{ products.price }}</td>
      <td>img:{{ products.productImage }}</td>
      <td>
        <img [src]="'http://localhost:3000' + products.productImage" alt="" />
      </td>

      <!-- <td><button (click)="manejarClick(product)">borrar</button></td> -->
    </tr>
  </table>
</div>
