<h3>Alumno</h3>
<table matSort>
  <tr>
    <th mat-sort-header="name">Nombre</th>
    <th mat-sort-header="calories">Apellidos</th>
    <th mat-sort-header="fat">Email</th>
    <th mat-sort-header="carbs">Matricula</th>
    <th mat-sort-header="protein">Discapacidad</th>
  </tr>

  <tr>
    <td>{{ alumno?.nombre }}</td>
    <td>{{ alumno?.apellidos }}</td>
    <td>{{ alumno?.email }}</td>
    <td>{{ alumno?.matricula }}</td>
    <td>{{ alumno?.discapacidad }}</td>
  </tr>
</table>

<button></button>
