<h3>Producto</h3>
<table matSort>
  <tr>
    <th mat-sort-header="name">Name</th>
    <th mat-sort-header="id">Id</th>
    <th mat-sort-header="price">Price</th>
    <th mat-sort-header="productImage">Image</th>
  </tr>

  <tr>
    <td>{{ product?.product.name }}</td>
    <td>{{ product?.product._id }}</td>
    <td>{{ product?.product.price }}</td>
    <td>{{ product?.product.productImage }}</td>
    <td>
      <img
        [src]="'http://localhost:3000' + product?.product.productImage"
        alt=""
      />
    </td>
  </tr>
</table>

<button mat-menu-item (click)="handelClickBack($event)">All Products</button>
